.root {
  width: 97px;
  height: 20px;
  margin-left: 13px;
}
.logoBox {
  left: 0;
  width: 180px;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-shrink: 0;
  margin-left: 13px;
}
