/* 아이템들 가운데 정렬하기 */
.root {
  display: flex;
  justify-content: center;
  align-items: start;
}
.text_line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.text_line_1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.text_line_small {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--color-thumb-text-small);
}

.small_box {
  display: flex;
}
