.root {
  position: absolute;
  width: 80%;
  height: 80%;
  line-height: 100%;
  outline: none;
  border: none;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
  color: var(--color-black);
  &::placeholder {
    color: var(--color-placeHorder);
  }
}
