.root {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: var(--aside-size);
  height: 100%;
  color: #626262;
  margin-top: var(--header-size);
  font-size: 13px;
  text-align: center;
  top: 0;
}
