.root {
  width: 24px;
  height: 24px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color: var(--color-hover);
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}
